#footer-expand.blog .sitemap-expand .download-apps .download-app.download-app-2 li {
    width: 33%;
}

#header .outer-header {
    max-width: 100%
}

.logo .main-logo {
    max-width: 135px;
    margin-left: 20px
}

.logo .icon-home {
    max-width: 17px;
}

#header .top-header {
    overflow: inherit;
}

    #header .top-header a.active {
        color: #345dd4;
    }

#header .quick-links .has-options .options > ul {
    background: unset;
}

#header .quick-links .has-options .options ul li {
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

    #header .quick-links .has-options .options ul li:hover {
        background: #345dd4;
        color: #ffffff;
        -webkit-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
    }

#header .quick-links .icon-user, #header .quick-links .icon-lock, #header .quick-links [class*="icm2-"], #header .quick-links .icon-search-bold {
    padding: 0 20px 0 70px;
    min-width: 190px;
    white-space: nowrap;
    position: relative;
}

    #header .quick-links .icon-user:before, #header .quick-links .icon-lock:before, #header .quick-links [class*="icm2-"]:before, #header .quick-links .icon-search-bold:before {
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 30px;
        color: inherit;
    }

#header .main-header .customer-tab {
    margin-left: 0;
    float: left;
}

    #header .main-header .customer-tab li {
        float: left;
        margin-left: 0;
        font-weight: 600;
        position: relative;
        line-height: 42px;
        display: block;
        padding: 5px 20px 0;
        border-bottom: 4px solid transparent;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        #header .main-header .customer-tab li.active,
        #header .main-header .customer-tab li:hover {
            border-color: #21409a;
            background: #f8f8f8;
            -webkit-transition: 0.3s all;
            -o-transition: 0.3s all;
            transition: 0.3s all;
        }

            #header .main-header .customer-tab li.active a,
            #header .main-header .customer-tab li:hover a {
                color: #1c2e36;
            }

        #header .main-header .customer-tab li.mn-premier.active {
            border-color: #DAA520 !important;
        }

        #header .main-header .customer-tab li.mn-premier a {
            color: #DAA520;
        }

        #header .main-header .customer-tab li.mn-premier:hover {
            border-color: #DAA520;
            background: #f8f8f8;
        }

#header .main-header .customer-tab {
    width: 100%;
}

    #header .main-header .customer-tab li {
        width: 20%;
        text-align: center;
    }
    #header .main-header .right-links{
        display:none
    }
#header.compact .main-header .customer-tab{
    width:auto;
}
#header.compact .main-header .customer-tab li{
    width:auto;
}
#header.compact .main-header .right-links{
    display:block;
}
.banner .inner-container p.title-1 {
    font-size: 14px;
    font-weight:normal;
}
.blog-list{
    margin-top:20px;
}
.blog-list .title-1 {
    margin: 25px 0;
}
    .blog-list .title-1 a:hover {
        color: #21409a;
    }
.thumbnail .caption ._intro {
    margin-bottom: 10px;
    font-weight: 700; 
}
#header.compact .main-header a{
    line-height:40px;
}
.pagination-link li a{
    font-weight:700;
}
.wrapper.blog-post{
    margin-top:150px;
}
@media (max-width: 768px){
    .wrapper.blog-post {
        margin-top: 100px;
    }
}
.header-post{
    margin-bottom:20px;
}
.blog-post ._title {
    font-weight: bold;
    margin-bottom: 20px;
}
.blog-post .news-info{
    text-align:justify;
}
.tags{
    margin-top:20px;
}
.tag {
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 6px 0 rgba(33, 33, 33, 0.16);
    margin-left:10px;
    display:inline-block
}
.blog-post .register{
    margin:50px 0 25px;
}
.blog-post .register ._title {
    text-align: center;
}
.register .btn-blue:hover {
    border-radius: 7px;
    box-shadow: -3px -3px 6px 0 rgba(33, 33, 33, 0.16);
    background-color: #ffffff;
    color: #1c2e36;
    border-color:transparent;
}
.related-post {
    background-color: #f5f5f5;
}
    .related-post.news-list .news-list-items .thumbnail .image {
        width: 48%;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
    }
    .related-post.news-list .news-list-items .thumbnail .caption {
        width: 48%;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        padding-left:10px;
    }
    .related-post .thumbnail .caption ._intro{
        font-size:14px;
        margin-bottom:0;
    }
.blog-slide .fullscreen-slider .caption .inner-container .sub-title {
    padding: 0 10px;
    line-height: 30px;
    background-color: #030303;
    border-radius: 4px;
}
#header .outer-header .group-languages .language .flag{
    left:22px;
}
.banner.main-banner .carousel-thumb{
    display:none;
}
.slick-dots {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    bottom: 140px;
}
@media only screen and (max-width: 767px){
    .main-banner .slick-dots {
        bottom: 100px;
    }
}
.news-detail-container .published-info .share-info{
    display:block;
}
.lang-nav .slick-dots{
	display:none !important;
}