#header .outer-header {
  z-index: 2;
}

#HighEnd {
  display: none;
}

#HighEnd .highEndCustomer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer.isShow {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer.isScroll .highEndCustomer__wrap {
  margin-top: 70px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  cursor: auto;
}

#HighEnd .highEndCustomer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  margin-top: 140px;
  position: relative;
  z-index: 2;
  height: 70vh;
  max-height: 610px;
  border-radius: 14px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer__item {
  width: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 0 50px 50px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

#HighEnd .highEndCustomer__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

#HighEnd .highEndCustomer__item:hover {
  width: 60%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer__item:hover::before {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer__item:hover .highEndCustomer__logo {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer__item--premier {
  background: url("../images/logo/bg-premier.jpg") no-repeat center/cover;
}

#HighEnd .highEndCustomer__item--private {
  background: url("../images/logo/bg-private-banking.jpg") no-repeat center/cover;
}

#HighEnd .highEndCustomer__content {
  position: relative;
  z-index: 2;
}

#HighEnd .highEndCustomer__logo {
  margin-bottom: 10px;
  width: 120px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#HighEnd .highEndCustomer__title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
}

#HighEnd .highEndCustomer__button {
  line-height: 40px;
  border-radius: 5px;
  padding: 0 20px;
  color: #00453c;
  display: inline-block;
  font-family: "Mulish-Bold";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

#HighEnd .highEndCustomer__buttonBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #9f772e;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #9f772e), color-stop(39%, #f2c15f), color-stop(53%, #ffcc67), color-stop(67%, #f2c15f), color-stop(100%, #9f772e));
  background: linear-gradient(135deg, #9f772e 0%, #f2c15f 39%, #ffcc67 53%, #f2c15f 67%, #9f772e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f772e', endColorstr='#9f772e', GradientType=1 );
}

#HighEnd .highEndCustomer__button span {
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#HighEnd .highEndCustomer__button:hover {
  background: #000;
  color: #fff;
}

#HighEnd .highEndCustomer__button:hover .highEndCustomer__buttonBackground {
  opacity: 0;
}
/*# sourceMappingURL=highend_customer.css.map */